extends layout

block content
    h1= title
    p Welcome to ou Home page
    
    ul
        li
            <a href = "#">Home page</a>
        li
            <a href = "#">Our Services</a>
        li
            <a href = "#">Contact Us</a>