extends layout

block content
    h1= title
    p This is our service page... Book Us TODAY!!!!

    ul
        li
            <a href = "#">Home page</a>
        li
            <a href = "#">Our Services</a>
        li
            <a href = "#">Contact Us</a>